<div class="mb text-sm text-gray">
  Вопрос задал <%= question_author(question) %>
</div>

<div class="mb-sm question-text">
  <%= sanitize text_with_hashtag_link(question.body) -%>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red question-text">
    <%= sanitize text_with_hashtag_link(question.answer) %>
  </div>
<% end %>
<div class="text-sm question-footer">
  <div class="text-gray">
    <%= l(question.created_at, format: :short) %>
  </div>
  <div>
  <% if current_user == question.user %>

      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Редактировать вопрос', class: 'mr-sm'%>
      <%= link_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос',
                  data: { confirm: "Are you sure?" }, class: 'mr-sm' %>
      <% unless question.hidden? %>
        <%= link_to fa_icon('eye-slash'), hide_question_path(question), method: :put, title: 'Спрятать вопрос' %>
      <% end %>
    <% end %>
  </div>
</div>
